.main-itemInfoKey {
  margin: 1rem;
  border: 5px solid black;
  background: #F08030;
  text-align: center;
  border-radius: 25px;
  height: 250px;
}

.main-imageItemKey {
  width: 100px;
  height: 70px;
  margin: .25rem 0;
}
