.main-itemInfoStatusHeal {
  margin: 1rem;
  border: 5px solid black;
  background: #A8B820;
  text-align: center;
  border-radius: 25px;
  height: 250px;
}

.main-imageItemStatusHeal {
  width: 50px;
  height: 65px;
  margin: .25rem 0;
}
