.main-stonesItems {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.main-itemInfo {
  margin: 1rem;
  border: 5px solid black;
  background: #f1a601;
  text-align: center;
  border-radius: 25px;
  height: 250px;
}

.main-imageItem {
  width: 50px;
  height: 50px;
  margin: .25rem 0;
}

.main-itemName {
  font-size: 20px;
  margin: .25rem 0;
  margin-bottom: 1rem;
}

.main-itemExplication {
  margin: auto 0;
}
