.main-itemInfoStone {
  margin: 1rem;
  border: 5px solid black;
  background: #f1a601;
  text-align: center;
  border-radius: 25px;
  height: 250px;
}

.main-imageItemStone {
  width: 50px;
  height: 50px;
  margin: .25rem 0;
}
