.main-itemInfoVitamin {
  margin: 1rem;
  border: 5px solid black;
  background: #A8A878;
  text-align: center;
  border-radius: 25px;
  height: 250px;
}

.main-imageItemVitamin {
  width: 50px;
  height: 75px;
  margin: .25rem 0;
}
