@media screen and (min-width: 0){
  .main-games {
    width: 90%;
  }

  .main-starters {
    width: 90%;
  }
}

@media screen and (min-width: 500px){

  .main-starters {
    height: 200px;
    width: 400px;
  }
}

@media screen and (min-width: 900px){

  .main-games {
    width: 60%;
  }
}
