.main-showPokemons {
  width: 90%;
  display: flex;
  margin: 0 auto;
}

.main-pokemonStatus {
  background-color: white;
  width:  20%;
  border: 2px solid black;
  margin-left: .1rem;
}

.main-pokemonName {
  text-transform: uppercase;
  margin: 1rem auto;
  text-align: center;
}

.main-pokemonImage {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}

.main-pokemonMovesInfo {
  display: flex;
  flex-direction: column;
}

.main-pokemonMoves {
  margin: 1rem auto;
  text-transform: uppercase;
}
