.main {
  background: crimson;
}

.main-title {
  padding-top: 0.5rem;
  text-align: center;
  font-size: 22px;
  color: rgb(232, 230, 227);
}

.main-introduction {
  background: #f0f0f0;
  line-height: 1.5rem;
}

.main-news {
  display: flex;
  align-items: center;
}

.main-text {
  color: #e8e6e3;
  line-height: 1.3rem;
}
